name: Build

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install npm dependencies
        run: npm ci
      - name: Checking formatting
        run: npm run format:check
      - name: Running lint
        run: npm run lint
      - name: Build app
        run: npm run build
